<%- include("templates/head", {
    titulo: "Inicio",
    css: "index.css"
})  %>

<script>
    let listaPostulacionesPlayers=[];
    listaPostulacionesPlayers = <%- JSON.stringify(PostPlayers) %>;
    let listaPostulacionesStaff=[];
    listaPostulacionesStaff = <%- JSON.stringify(PostStaff) %>;
</script>
    
<%- include('templates/NavBar') %>

  

<main>
    <div class="presentacion-container">
        <div class="presentacion">
            <iframe id="video-presentacion" 
                src="https://www.youtube.com/embed/7-4dY9UQPiQ" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
</main>

    <%- include('templates/alerta')  %>

    

    
    <section class="Texto-main">
        <h1 class="titulo">LET'S BE WARRIORS</h1>
           <p class="texto">Warriors Esports nace con la ambición de conquistar los más altos niveles en el competitivo mundo de los videojuegos. Nuestro equipo está formado por jugadores talentosos y dedicados que comparten una pasión por la excelencia y el deseo de dejar huella en cada torneo. Inspirados por la disciplina, el trabajo en equipo y la resiliencia de los guerreros legendarios, buscamos no solo ganar, sino también elevar el estándar del juego competitivo. Nuestro objetivo es construir una organización sólida, que fomente el crecimiento personal y profesional de nuestros miembros, y nos permita convertirnos en referentes dentro de la escena de los e-sports a nivel mundial. Con determinación, compromiso y visión de futuro, los Warriors Esports están listos para llegar a lo más alto.</p>
    </section>
        
    <section id="Postulaciones">
        <div class="PostulacionesHTML">
        </div>
    </section>

    <script src="/scripts/index.js"></script>
    <%- include("templates/footer") %>